---
title: 'About this site'
slug: 'about_this_site'
outline: 'A brief reference to the technologies used to create this website'
tags: [ { name: 'Svelte Kit', link: 'https://kit.svelte.dev/' }, { name: 'Tailwind', link: 'https://www.tailwindcss.com' }, { name: 'Markdown', link: 'https://www.markdownguide.org/'} ]
published_at: '3 April 2021'
---

# Hello

world
